In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.9.0-cp310-cp310-win_amd64.whl (3.6 MB)
     ---------------------------------------- 3.6/3.6 MB 1.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.15 in c:\users\tanya\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (1.22.3)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.10.tar.gz (8.2 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pandas>=0.24.0 in c:\users\tanya\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (1.4.2)
Requirement already satisfied: requests>=2.26 in c:\users\tanya\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\tanya\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tanya\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\tanya\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\tanya\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tanya\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tanya\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: six>=1.5 in c:\users\tanya\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Using legacy 'setup.py install' for multitasking, since package 'wheel' is not installed.
Installing collected packages: multitasking, lxml, yfinance
  Running setup.py install for multitasking: started
  Running setup.py install for multitasking: finished with status 'done'
Successfully installed lxml-4.9.0 multitasking-0.0.10 yfinance-0.1.70

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\tanya\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
!pip install bs4

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: beautifulsoup4 in c:\users\tanya\appdata\local\programs\python\python310\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\tanya\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Using legacy 'setup.py install' for bs4, since package 'wheel' is not installed.
Installing collected packages: bs4
  Running setup.py install for bs4: started
  Running setup.py install for bs4: finished with status 'done'
Successfully installed bs4-0.0.1

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\tanya\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [5]:
pip install plotly

Collecting plotly
  Downloading plotly-5.8.0-py2.py3-none-any.whl (15.2 MB)
     ---------------------------------------- 15.2/15.2 MB 1.3 MB/s eta 0:00:00
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.8.0 tenacity-8.0.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\tanya\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [6]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [7]:
#Q1
tes=yf.Ticker('TSLA')
tes_data = tes.history(period = "max")

In [8]:
tes_data.reset_index(inplace = True)
tes_data.head()

        Date   Open   High    Low  Close    Volume  Dividends  Stock Splits
0 2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
1 2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2 2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

In [9]:
#q2
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data = requests.get(url).text

In [10]:
soup = BeautifulSoup(html_data, "html.parser")
soup.find_all('title')

In [13]:
#Q3
Game = yf.Ticker("GME")
gme_data = Game.history(period = 'max')
gme_data.reset_index(inplace = True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,6.480514,6.773400,6.413183,6.766666,19054000,0.0,0.0
1,2002-02-14,6.850827,6.864293,6.682502,6.733000,2755400,0.0,0.0
2,2002-02-15,6.733002,6.749834,6.632007,6.699337,2097400,0.0,0.0
3,2002-02-19,6.665671,6.665671,6.312188,6.430016,1852600,0.0,0.0
4,2002-02-20,6.463683,6.648840,6.413185,6.648840,1723200,0.0,0.0

In [ ]:
#Q4